numpy==1.26.4
pandas==2.3.0
matplotlib==3.10.3
seaborn==0.13.2
scipy==1.15.3
scikit-learn==1.6.1
category-encoders==2.8.1
xgboost==3.0.2
flaml==2.3.5
imbalanced-learn==0.13.0
shap==0.48.0
statsmodels==0.14.4